@model IEnumerable<PTum.Models.Balance_V>

@{
    ViewData["Title"] = "Dashboard";
}

<div class="row" id="example">

</div>

<div class="row" id="stock">
    <div class="col-3 box">
        <div class="info-box" display="cursor:pointer;">
            <span class="info-box-icon bg-white">
                <img src="~/img/products/gaming.png" width="50">
                @* <i class="far fa-envelope"></i> *@
            </span>
            <div class="info-box-content">
            <span class="info-box-text"></span>
            <span class="info-box-number"></span>
            </div> <!-- /.info-box-content -->
        </div> <!-- /.info-box -->
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><i class="fas fa-file-alt"></i> Balance</h3>
    </div>
    <div class="card-body">
        <table class="table table-sm table-bordered" id="qty-table">
            <thead>
                <tr>
                    <th class="text-center">No</th>
                    <th class="text-center">Image</th>
                    <th class="text-center">Code</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Balance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    var img = $@"~/img/products/{item.prd_img}";
                <tr>
                    <td class="text-center">@item.rownum</td>
                    <td class="text-center">
                        @if(item.prd_img==null){
                            <img src="~/img/products/no-photo.png" width="50" height="50"/>
                        }
                        else{  
                            <img src="@Url.Content(img)" width="50" height="50"/>
                        }
                    </td>
                    <td>@item.prd_code</td>
                    <td>@item.prd_name</td>
                    <td class="text-right">@item.total_bl.ToString("N0")</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
</div>

@section scripts{
<script type="text/babel">
   

    var table = $("#qty-table").DataTable({
        "responsive": true, 
        "lengthChange": false, 
        "autoWidth": false,
        "buttons": [
            {
                extend: "excelHtml5",
                text: '<i class="far fa-file-excel"></i> Export excel',
                className: "btn-sm btn-outline-secondary",
                init: function(api, node, config) {
                    $(node).removeClass('btn-secondary')
                },
                autoFilter: true,
                sheetName: 'Product',
                exportOptions: {
                    columns: [0,2,3,4]
                }
            },
        ]
    })
    table.buttons().container().appendTo('#qty-table_wrapper .col-md-6:eq(0)')

    $.ajax({
        url: '@Url.Action("Balance", "Product")',
        cache: false
    })
    .done(function( data ) {
        console.log(data)
        var path = '@Url.Content("~/img/products/")'
        $.each(data, function(i, d) {
            var box = $('#stock .box:last').clone()
            if(d.prd_img==null){
                box.find('img').attr("src",path+"no-photo.png")
            }
            else{
                box.find('img').attr("src",path+d.prd_img)
            }
            box.find('.info-box-text').text(d.prd_name)
            box.find('.info-box-number').text(d.bl)
            $('#stock').append(box)
            $('#stock .box:first').hide()
        });
    }) 


</script>
}