@model IEnumerable<PTum.Models.Tb_stock_out>
@{
    ViewData["Title"] = "Stock out";
}

<style>
tr.group, tr.group:hover {
    background-color: #FFCDD2 !important;
}
</style>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <label>Date range:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control float-right" id="reservation">
                    </div><!-- /.input group -->
                </div>  
            </div>
            <div class="col-md-3 col-sm-6">
            <!-- Date and time range -->
                <div class="form-group">
                    <label>Date range button:</label>
                    <div class="input-group">
                        <button type="button" class="btn btn-default float-right" id="daterange-btn">
                            <i class="far fa-calendar-alt"></i> Choose range
                            <i class="fas fa-caret-down"></i>
                        </button>
                    </div>
                </div><!-- /.form group --> 
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <table class="table table-sm table-bordered" id="stock-out">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.pay_no)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.prd_code)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.prd_outqty)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.prd_outremark)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.prd_garron_no)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.prd_borrow_status)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.out_datetime)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.out_name)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pay_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prd_code)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.prd_outqty)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.prd_outremark) *@
                @if (item.prd_outremark!="") 
                { 
                    @Html.DisplayFor(modelItem => item.prd_outremark)
                }
                else
                { 
                    @string.Format("-");
                }
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.prd_garron_no) *@
                @if (item.prd_garron_no!="") 
                { 
                    @Html.DisplayFor(modelItem => item.prd_garron_no)
                }
                else
                { 
                    @string.Format("-");
                }
            </td>
            <td class="text-center">
                @if (item.prd_borrow_status) 
                { 
                    @string.Format("Y");
                }
                else
                { 
                    @string.Format("-");
                }
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.out_datetime) *@
                @Convert.ToDateTime(item.out_datetime).ToString("yyyy-MM-dd HH:mm:ss")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.out_name)
            </td>
        </tr>
}
    </tbody>
        </table>
    </div>
</div>


@section scripts{
<script type="text/babel">
    var groupColumn = 0;
    var table = $("#stock-out").DataTable({
        "responsive": true, 
        "lengthChange": false, 
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "autoWidth": false,
        "columnDefs": [
            { "visible": false, "targets": groupColumn }
        ],
        "order": [[ groupColumn, 'desc' ]],
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;
            api.column(groupColumn, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="7" class="font-weight-bold">'+group+'</td></tr>'
                    );
                    last = group;
                }
            } );
        },
        "buttons": [
            {
                extend: "pageLength",
                className: "btn-sm",
            },
            {
                extend: "excelHtml5",
                text: '<i class="far fa-file-excel"></i> Export excel',
                className: "btn-sm btn-outline-secondary",
                init: function(api, node, config) {
                    $(node).removeClass('btn-secondary')
                },
                autoFilter: true,
            },
        ]
    })
    
    table.buttons().container().appendTo('#stock-out_wrapper .col-md-6:eq(0)')

    $('#stock-out tbody').on( 'click', 'tr.group', function () {
        console.log(table)
        var currentOrder = table.order()[0];
        if ( currentOrder[0] === groupColumn && currentOrder[1] === 'asc' ) {
            table.order( [ groupColumn, 'desc' ] ).draw();
        }
        else {
            table.order( [ groupColumn, 'asc' ] ).draw();
        }
    });

    var dates = table.column(6).data().unique().sort();
    var minDate = dates[0];
    var maxDate = dates[dates.length-1];

    var datepickers = [{
        id: 'startdate',
        coid: 'enddate',
        value: new Date(minDate).toISOString(),
        limiter: 'minDate'
    }, 
    {
        id: 'enddate',
        coid: 'startdate',
        value: new Date(maxDate).toISOString(),
        limiter: 'maxDate'
    }];


    $('#reservation').daterangepicker({
            opens: 'left',
            "startDate": minDate,
            "endDate": maxDate,
            locale: {
                format: 'YYYY-MM-DD' 
            },
        }, 
        function(start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            datepickers[0].value = new Date(start).toISOString(); 
            datepickers[1].value = new Date(end).toISOString(); 
            table.draw();
        }
    )

    //External search function
    $.fn.DataTable.ext.search.push((settings, row) => {
        var rowDate = new Date(row[6]).toISOString();
        return (rowDate >= datepickers[0].value || datepickers[0].value == null) && (rowDate <= datepickers[1].value || datepickers[1].value == null);
    });

    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
            console.log(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
            datepickers[0].value = new Date(start).toISOString(); 
            datepickers[1].value = new Date(end).toISOString(); 
            table.draw();
      }
    )  


</script>
}
